- var titles = ['First','Second','Third','Fourth','Fifth','Sixth','Seventh','Eighth','Ninth','Tenth','Eleventh','Twelfth','Thirteenth','Fourteenth','Fifteenth','Sixteenth','Seventeenth','Eighteenth','Nineteenth','Twentieth']

- var modalIter = 0

mixin menu-drawer()
	div#drawer.use-native-click
		nav.menu-drawer
			div
				if block
					block

mixin menu-trigger()
	section.rack
		div.icon-menu.toggle.use-native-click(data-target="body, #siteWrapper, #drawer")
		div.mobile-rack-space
			if block
				block

mixin mobile-header()
	section.rack
		div.icon-menu.toggle.use-native-click(data-target="body, #siteWrapper, #drawer")
		div.mobile-rack-space
			if block
				block

mixin logo(linkFile, descriptor)
	- if (arguments.length === 1) {
	-	descriptor = arguments[0]
	-	linkFile = '/'
	- }
	- if (descriptor === "") {
		div.logo-wrapper
			a.simple-logo.logo(href=linkFile)= descriptor
	- }
	- else {
		div.logo-wrapper
			a.logo(href=linkFile)= descriptor
	- }

mixin link(linkFile, linkDescriptor)
	- if (arguments.length === 1) {
	-	linkDescriptor = arguments[0]
	-	linkFile = '/'
	- }
	- linkFile = (linkFile === undefined || linkFile === '/') ? '/' : linkFile + '.html';
	a(href=linkFile)= linkDescriptor

//- Main loop
mixin loop(count)
	- var n = 1;
	while n < (count + 1)
		- n++
		if block
			block

mixin column-loop(col, equalize)
	- var a = 1;
	- var columnCount; 
	- if (col == 2) {columnCount = 'columns-2'}
	- if (col == 3) {columnCount = 'columns-3'}
	- if (col == 4) {columnCount = 'columns-4'}
	- if (col == 5) {columnCount = 'columns-5'}
	- if (col == 6) {columnCount = 'columns-6'}
	- if (col == 7) {columnCount = 'columns-7'}
	- if (col == 8) {columnCount = 'columns-8'}
	- if (col == 9) {columnCount = 'columns-9'}
	- if (col == 10) {columnCount = 'columns-10'}
	- if (equalize === 'equalize') {
		section(class=columnCount+' columnizer', data-equalize)
			while a < (col + 1)
				- a++
				if block
					block
	- }
	- else {
		section(class=columnCount+' columnizer')
			while a < (col + 1)
				- a++
				if block
					block
	- }
	
mixin button(nameValue, pos)
	- if (typeof nameValue === 'object') {
	- 	nameValue.title = nameValue.title || "OK"
	- 	nameValue.url = nameValue.url || ""
	- 	nameValue.position = nameValue.position || "left"
	- 	if (nameValue.position === 'left')
				div.left-justify.button-module
					a(href=nameValue.url, class!=attributes.class, id!=attributes.id).button= nameValue.title
	- 	else if (nameValue.position === 'right')
				div.right-justify.button-module
					a(href=nameValue.url, class!=attributes.class, id!=attributes.id).button= nameValue.title
	- 	else if (nameValue.position === 'center')
				div.center-justify.button-module
					a(href=url, class!=attributes.class, id!=attributes.id).button= nameValue.title
	- 	else if (nameValue.position === 'extend') {
				div.button-module
					a(href=nameValue.url, class!=attributes.class, id!=attributes.id).button.extend= nameValue.title
	- 	}
	- }
	- else {
		- if (pos === 'left')
			div.left-justify.button-module
				a(href=url, class!=attributes.class, id!=attributes.id).button= nameValue
		- else if (pos === 'right')
			div.right-justify.button-module
				a(href=url, class!=attributes.class, id!=attributes.id).button= nameValue
		- else if (pos === 'center')
			div.center-justify.button-module
				a(href=url, class!=attributes.class, id!=attributes.id).button= nameValue
		- else if (pos === 'extend') {
			div.button-module
				a(href=url, class!=attributes.class, id!=attributes.id).button.extend= nameValue
		- }
	- }

mixin modal(nameValue, pos)
	- modalIter += 1
	- if (pos === 'right')
		button.modal.trigger.right(data-target="modal" + modalIter)= nameValue
	- else if (pos === 'center')
		div.center-justify
			button.modal.trigger(data-target="modal" + modalIter)= nameValue
	- else if (pos === 'extend') {
		div
			button.extend.modal.trigger(data-target="modal" + modalIter)= nameValue
	- }
	- else
		button.modal.trigger(data-target="modal" + modalIter)= nameValue
	div(id="modal" + modalIter, class="modal window")
		if block
			block

mixin search(resultsPage)
	- resultsPage = (resultsPage === undefined) ? 'search-results.html' : resultsPage + '.html';
	.search-widget(data-target=resultsPage)
		.searchfield
			.icon-search
			input(type="text")

mixin pagination(count)
	- if (!count) {
		- count = 3;
	- }
	.page-widget
		nav.pagination
			ul.right-align
				li.arrows: a(href="#")
					span.icon-arrow-left
				- var n = 1;
				while n < (count + 1)
					li: a(href="#")= n++
				li.arrows: a(href="#")
					span.icon-arrow-right

mixin tabs(tabs)
	div.tabs-widget
		ul.tabs
			each tab in tabs
				li(data-target=tab)= tab
			hr
		section.tabs-wrapper
			if block
				block

mixin tab(item)
	- if (item == 'active') {
		section.tab-element.active
				if block
					block
	- }
	- else {
		section.tab-element
			if block
				block
	- }

mixin rack(pos)
	- var posString = ''
	- if (pos === 'right') {
	- 	posString = ' ' + pos
	- }
	article(class='rack cf' + posString)
		if block
			block

mixin rating(min, max)
	- if (min && max) {
		- var starCount = Math.floor((Math.random() * (max - min + 1) + min));
	- }
	- else {
		- max = min
		- (max === undefined) ? max = 5 : max;
		- var starCount = Math.floor((Math.random() * max));
		- if (starCount === 0) {
		- 	starCount = 1;
		- }
	- }
	.stars-widget
		- var z = 0;
		- var leftover = max - starCount;
		while z < starCount
			span.icon-star
			- z++
		while (leftover > 0)
			span.icon-star.unmarked
			- leftover--

mixin footer-links(items)
	ul.footer-links
		each item in items
			li: a(href="#")= item

//- amount is a number that defines how many words to get back;
	lipsum(3) > "maecenas accumsan aliquet"; always lowercase, no punctuation;
mixin lorem(amount)
	//- this array will be loremText (by sentences);
	- var loremArray = new Array();
	//- this string is cherry picked (by sentences) to build a random piece of content;
	- var loremText = "Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor. Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat volutpat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus. Integer pellentesque quam vel velit. Duis pulvinar. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Phasellus et lorem id felis nonummy placerat. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Aenean vel massa quis mauris vehicula lacinia. Quisque tincidunt scelerisque libero. Maecenas libero. Etiam dictum tincidunt diam. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Suspendisse nisl. Sed convallis magna eu sem. Cras pede libero, dapibus nec, pretium sit amet, tempor quis, urna. Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie nisl. Fusce eget urna. Curabitur vitae diam non enim vestibulum interdum. Nulla quis diam. Ut tempus purus at lorem. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam id dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Mauris dictum facilisis augue. Fusce tellus. Pellentesque arcu. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu, urna. Nullam at arcu a est sollicitudin euismod. Praesent dapibus. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Nam sed tellus id magna elementum tincidunt. Morbi a metus. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a, enim. Nunc tincidunt ante vitae massa. Duis ante orci, molestie vitae, vehicula venenatis, tincidunt ac, pede. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Etiam commodo dui eget wisi. Donec iaculis gravida nulla. Donec quis nibh at felis congue commodo. Etiam bibendum elit eget erat. Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aenean fermentum risus id tortor. Integer imperdiet lectus quis justo. Integer tempor. Vivamus ac urna vel leo pretium faucibus. Mauris elementum mauris vitae tortor. In dapibus augue non sapien. Aliquam ante. Curabitur bibendum justo non orci. Integer in sapien. Fusce tellus odio, dapibus id, fermentum quis, suscipit id, erat. Fusce aliquam vestibulum ipsum. Aliquam erat volutpat. Pellentesque sapien. Cras elementum. Nulla pulvinar eleifend sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Vivamus porttitor turpis ac leo. Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum. Sed ac dolor sit amet purus malesuada congue. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Suspendisse sagittis ultrices augue. Mauris metus. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam posuere lacus quis dolor. Praesent id justo in neque elementum ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In convallis. Fusce suscipit libero eget elit. Praesent vitae arcu tempor neque lacinia pretium. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo, vulputate eget, mollis sed, tempor sed, magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam neque. Curabitur ligula sapien, pulvinar a, vestibulum quis, facilisis vel, sapien. Nullam eget nisl. Donec vitae arcu.";
	//- what we use to split the string on;
	- var sentenceSplit = ". ";
	//- the array to collect our random selection of content from loremText;
	- var lipsumArray = new Array();
	//- a string of our randomly selected content;
	- var lipsumText = "";
	//- our content to output;
	- var loremIpsum = "";

	//- randomize the content;
	//- turn that giant string into an array (of sentences) so we can work with it;
	- loremArray = loremText.split(sentenceSplit);
	//- build a new random collection to work with;
	- loremArray.forEach(function() {
		//- grab a random sentence (might grab the same random sentences - it is random);
		- var randomSentence = loremArray[Math.floor(Math.random() * loremArray.length)];
		//- insert it into the working array;
		- lipsumArray.push(randomSentence + sentenceSplit);
		//- insert it inot the working string;
		- lipsumText += randomSentence + sentenceSplit;
	- });

	//- we have a random string of words, but we dont want punctuation;
	- lipsumText = lipsumText.toLowerCase();
	- lipsumText = lipsumText.split(".").join("");
	- lipsumText = lipsumText.split(",").join("");
	- lipsumArray = lipsumText.split(" ");
	//- now we have an array of words without punctuation, we can grab X number of words;
	- for (var i = 0; i < amount; i++) {
		- loremIpsum += lipsumArray[i] + " ";
	- }
	//- capitalize the first letter of the first word;
	- loremIpsum = loremIpsum.charAt(0).toUpperCase() + loremIpsum.slice(1);

	//- output what the dev asked for;
	=loremIpsum

//- amount is a number that defines how many words to get back;
	lipsum(3) > "maecenas accumsan aliquet"; always lowercase, no punctuation;
mixin blockletter(amount)
	//- this array will be loremText (by sentences);
	- var loremArray = new Array();
	//- this string is cherry picked (by sentences) to build a random piece of content;
	- var loremText = "Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor. Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat volutpat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus. Integer pellentesque quam vel velit. Duis pulvinar. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Phasellus et lorem id felis nonummy placerat. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Aenean vel massa quis mauris vehicula lacinia. Quisque tincidunt scelerisque libero. Maecenas libero. Etiam dictum tincidunt diam. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Suspendisse nisl. Sed convallis magna eu sem. Cras pede libero, dapibus nec, pretium sit amet, tempor quis, urna. Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie nisl. Fusce eget urna. Curabitur vitae diam non enim vestibulum interdum. Nulla quis diam. Ut tempus purus at lorem. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam id dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Mauris dictum facilisis augue. Fusce tellus. Pellentesque arcu. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu, urna. Nullam at arcu a est sollicitudin euismod. Praesent dapibus. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Nam sed tellus id magna elementum tincidunt. Morbi a metus. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a, enim. Nunc tincidunt ante vitae massa. Duis ante orci, molestie vitae, vehicula venenatis, tincidunt ac, pede. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Etiam commodo dui eget wisi. Donec iaculis gravida nulla. Donec quis nibh at felis congue commodo. Etiam bibendum elit eget erat. Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aenean fermentum risus id tortor. Integer imperdiet lectus quis justo. Integer tempor. Vivamus ac urna vel leo pretium faucibus. Mauris elementum mauris vitae tortor. In dapibus augue non sapien. Aliquam ante. Curabitur bibendum justo non orci. Integer in sapien. Fusce tellus odio, dapibus id, fermentum quis, suscipit id, erat. Fusce aliquam vestibulum ipsum. Aliquam erat volutpat. Pellentesque sapien. Cras elementum. Nulla pulvinar eleifend sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Vivamus porttitor turpis ac leo. Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum. Sed ac dolor sit amet purus malesuada congue. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Suspendisse sagittis ultrices augue. Mauris metus. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam posuere lacus quis dolor. Praesent id justo in neque elementum ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In convallis. Fusce suscipit libero eget elit. Praesent vitae arcu tempor neque lacinia pretium. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo, vulputate eget, mollis sed, tempor sed, magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam neque. Curabitur ligula sapien, pulvinar a, vestibulum quis, facilisis vel, sapien. Nullam eget nisl. Donec vitae arcu.";
	//- what we use to split the string on;
	- var sentenceSplit = ". ";
	//- the array to collect our random selection of content from loremText;
	- var lipsumArray = new Array();
	//- a string of our randomly selected content;
	- var lipsumText = "";
	//- our content to output;
	- var loremIpsum = "";

	//- randomize the content;
	//- turn that giant string into an array (of sentences) so we can work with it;
	- loremArray = loremText.split(sentenceSplit);
	//- build a new random collection to work with;
	- loremArray.forEach(function() {
		//- grab a random sentence (might grab the same random sentences - it is random);
		- var randomSentence = loremArray[Math.floor(Math.random() * loremArray.length)];
		//- insert it into the working array;
		- lipsumArray.push(randomSentence + sentenceSplit);
		//- insert it inot the working string;
		- lipsumText += randomSentence + sentenceSplit;
	- });

	//- we have a random string of words, but we dont want punctuation;
	- lipsumText = lipsumText.toLowerCase();
	- lipsumText = lipsumText.split(".").join("");
	- lipsumText = lipsumText.split(",").join("");
	- lipsumArray = lipsumText.split(" ");
	//- now we have an array of words without punctuation, we can grab X number of words;
	- for (var i = 0; i < amount; i++) {
		- loremIpsum += lipsumArray[i] + " ";
	- }
	//- capitalize the first letter of the first word;
	- loremIpsum = loremIpsum.charAt(0).toUpperCase() + loremIpsum.slice(1);

	//- output what the dev asked for;
	span.blockletter= loremIpsum
