@import '../template_files/stylus/imports'
@import 'nib'

// Declare all fonts first
fonts(open-sans, '300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
fonts(play, '400,700')
fonts(blockletter, '')
iconfont()
// Now declare global reset and all dependencies: base, headings, forms, etc
global-reset()
base()
headings()
forms()
widgets()
mobile()
segments()
responsive-segments()
demo()

// edit()

body, *
	font-family: open-sans
h1
h2
h3
h4
h5
h6
	font-family: open-sans

#contain
	position: relative
	margin: 0 auto
	max-width: lg
	min-height: 600px
	background-color: #FFF
	font-family: Play !important
	font-weight: normal

// Begin your custom styles here!

a
	cursor: pointer

.person-details > x-minor
	margin-right: 40px
	width: 200px

.header-actions i
	margin-right: 15px

.header-actions .right-justify i
	margin-right: 0
	margin-left: 15px

.status-dot
	display: inline-block
	margin-right: 15px
	width: 10px
	height: 10px
	border-radius: 100%
	background-color: #bbb
	&.green
		background-color: #19b549
	&.orange
		background-color: #ff8e1b

.icon-arrow-right.rotate-down:before
	transform: rotate(90deg)

.mode-title
	font-size: 1.2rem
	font-weight: 600

.comelit-title
	margin-bottom: 20px !important

.phone-mode-wrapper
	position:absolute
	left: 0
	right: 0
	padding: 0 20px
.phone-entry
	display:none

.add-icon
	position: relative
	display: inline-block
	width: 20px
	height: 20px
	margin-left: 10px
	vertical-align: -2%
	background-color: #444
	border-radius: 100%
	&:before
		content: ""
		position: absolute
		top: 9px
		left: 5px
		width: 10px
		height: 2px
		background-color: #84f1ff
	&:after
		content: ""
		position: absolute
		top: 5px
		left: 9px
		width: 2px
		height: 10px
		background-color: #84f1ff

segment-elem.with-bg > x-cell
segment-elem.with-bg > x-minor
segment-elem.with-bg > x-major
	background-color: #eee

.more-info-icon
	vertical-align: -24px
	margin-left: 10px
	margin-right: 10px

.man-wrap
	margin-top: 20px
	margin-bottom: 20px

.phone-status-readout
	margin-top: 10px

.man-wrap .friendly-name
	font-weight: 700
	font-size: 1.1rem

.man-co
	margin-top: 10px

.sync-status
	margin: 10px 0 5px
	color: #919191

i.more-info-icon
	position: relative
	cursor:  pointer
	div.info-window
		display: none
		position: absolute
		top: 29px
		left: -50px
		padding: 0px 20px
		font-family: open-sans
		background-color: #a8a8a8
		border-radius: 5px
		z-index: 99
		width: 200px
		&:after
			content: ""
			position: absolute
			top: -7px
			left: 50px
			border-left: 8px solid transparent
			border-right: 8px solid transparent
			border-bottom: 8px solid #a8a8a8
		&.right-hand
			left: -203px
			&:after
				left: 203px
		&.active
			display: block
			animation-name: show-tip
			animation-duration: 0.21s
			animation-timing-function: ease-in-out
		&.hidden
			animation-name: hide-tip
			animation-duration: 0.21s
			animation-timing-function: ease-in-out
			animation-fill-mode: forwards
		@keyframes show-tip
			0%
				opacity: 0
			100%
				opacity: 1

		@keyframes hide-tip
			0%
				opacity: 1
			99%
				opacity: 0
			100%
				display: none
