extend __core__/default
block content
	+panel().light
		div.clear-wrap
			h3 Configuration
			+tabs(["Devices", "Connections", "Discovery", "Config", "Diagnostics"])
				+tab()
				+tab()
				+tab()
				+tab("active")
					div.clear-wrap
						h4 Common
						segment-elem.fourths
							x-cell
								+input("Log Purge Days")
							x-cell
								+select(["English", "Russian"])
							x-cell
								+select(["Time Zone"])
					div.clear-wrap
						h4 Card Format
						segment-elem.fourths
							x-cell
								+select(["Time Zone"])
							x-cell
								.form-element
									+button({title: "Manage Card Formats"})
					div.clear-wrap.wire-ping#videoIntercomConnections
						h4 
							| Video Intercom Connections
							div.add-icon.modal.trigger(data-target="callboxAdd")
						div.video-intercom-connections-wrapper
						div.modal.window#callboxAdd
							h3 New Connection
							div.clear-wrap#manSelection
								+select({default: "Manufacturer", list: ["Comelit", "Another Manufacturer"]})#videoIntercomManufacturer
								segment-elem.half
									x-cell
										prime-segment
											x-major#id32
												+input("Comelit ID32")
											x-minor
												i.icon-info.more-info-icon
													div.info-window
														p 
															| The Comelit ID32 can be found here:   
															br
															| 1. Go to your Muti User Gateway Admin
															br
															| 2. Select the "Mug Interfaces Device Info" tab
															br
															| 3. Find the id under the "ID32" field
									x-cell
										prime-segment
											x-major#friendlyName
												+input("Name")
											x-minor
												i.icon-info.more-info-icon
													div.info-window.right-hand
														p 
															strong Friendly Name:
															br
															| Name presented to you within the app.
								.wrap
									h4 Login
									segment-elem.half
										x-cell#manUsername
											+email("Username")
										x-cell
									segment-elem.half
										x-cell#manPassword
											+password("Password")
										x-cell#manPasswordConfirm
											+password("Confirm Password")
								segment-elem.fourths
									x-cell
									x-cell
									x-cell
										div.center-justify(style="padding-top: 10px")
											a(href="#").close-modal.close-dialogue Cancel
									x-cell
										+button({title: "Save", position: "extend"})#saveManufacturer
					div.clear-wrap
						h4 Ecards
						+loop(2)
							segment-elem.fifths
								+loop(5)
									x-cell
										+input()
				+tab()

block script
	script.
		// sets default value for manufacturer dropdown on "New Connection" dialogue
		$('#videoIntercomManufacturer').val('comelit');
		
		function resetForm() {
			$('#manSelection select').val('comelit');
			$('#id32 input').val('');
			$('#friendlyName input').val('');
			$('#manUsername input').val('');
			$('#manPassword input').val('');
			$('#manPasswordConfirm input').val('');
			$('.modal.window .form-element').removeClass('has-value');
		}
		
		$('body').on('click', '.close-dialogue', function(e) {
			e.preventDefault();
			resetForm();
		});
		
		$('body').on('click', '#saveManufacturer', function(e) {
			e.preventDefault();
			var manCo = $('#manSelection option:selected').attr('data-title');
			var friendlyName = $('#friendlyName input').val();
			var newManufacturer = `<div class="man-wrap"><div class="friendly-name">${friendlyName}</div><div class="man-co">${manCo}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
			$('.video-intercom-connections-wrapper').append(newManufacturer);
			if ($('.man-wrap').length > 2) {
				var thisItem = $('.man-wrap').length - 1;
				setTimeout(function() {
					$('.sync-text').eq(thisItem).text('Failed');
					$('.status-dot').eq(thisItem).addClass('orange');
				}, 2000);
			}
			else {
				setTimeout(function() {
					$('.sync-text').text('Synced');
					$('.status-dot').addClass('green');
				}, 2000);
			}
			$('.close-modal').click();
		});
		
		$('i.more-info-icon').on('click', function() {
			if ($('.info-window', this).hasClass('active')) {
				$('.info-window').removeClass('active');
				$('.info-window').addClass('hidden');
			}
			else if ($('.info-window.active').length > 0) {
				$('.info-window').removeClass('active');
				$('.info-window').addClass('hidden');
				$('.info-window', this).removeClass('hidden');
				$('.info-window', this).addClass('active');
			}
			else {
				$('.info-window', this).removeClass('hidden');
				$('.info-window', this).addClass('active');
			}
		});
