extend __core__/default
block content
	+panel().light
		div.clear-wrap
			segment-elem.half.header-actions
				x-cell 
					h4
						i.icon-arrow-left
						| Person
				x-cell.right-justify
					p
						a Recent Audit Logs
						i.icon-delete
		prime-segment.person-details
			x-minor
				+porthole(200)
				p.center-justify 
					a EDIT PHOTO
			x-major
				segment-elem.thirds
					x-cell
						+input("First Name")
					x-cell
						+input("Last Name")
					x-cell
						+select(["Default"])
				segment-elem.thirds
					x-cell
						+select(["Active Date"])
					x-cell
						+select(["Expire Date"])
					x-cell
						+switch("Enabled Account")
				segment-elem.thirds
					x-cell
						+email("Email")
					x-cell
						+password("PIN")
					x-cell
						+password("Duress PIN")

		prime-segment.person-details
			x-minor
			x-major
				div.clear-wrap
					segment-elem.thirds
						x-cell
							h4 
								| Credentials
								div.add-icon
							p Mobile
							p iPhone
							p Bluetooth
						x-cell
							h4 
								| Groups
								div.add-icon
							p 9 -5 Group
							p Restricted Fitness Center
						x-cell
							h4 &nbsp;
							p admin
				div.clear-wrap.wire-ping(style="margin-bottom: 60px")
					h4.comelit-title 
						| Video Intercom Link
						div.add-icon.add-comelit-stuff.modal.trigger(data-target="videoIntercomModal")
					div.comelit-items-wrapper
					div#videoIntercomModal.modal.window
						h3 New Link
						div.clear-wrap
							segment-elem.half
								x-cell
									p Intercom
									div#intercomId
										+select({default: "Select an Intercom", list: ["16983699", "06896564", "04709754", "47347817", "39478170"]})
								x-cell
									p Unit
									div#unitName
										+select({default: "Select a Unit", list: ["14A", "14B", "14C", "15A", "15B", "15C"]})
						div.clear-wrap
							div.phone-mode-wrapper
								div.talk-modes
									+radio("Phone Status", ["Phone", "Do Not Call"])
								div.phone-entry
									segment-elem.half
										x-cell
											+input("Phone Number")
						div
							segment-elem.fourths(style="margin-top: 170px; margin-bottom: -20px")
								x-cell
								x-cell
								x-cell
									div.center-justify(style="padding-top: 10px")
										a(href="#").close-modal.close-dialogue Cancel
								x-cell
									+button({title: "Save", position: "extend"})#saveLink
				div.clear-wrap
					segment-elem.thirds
						x-cell
							h4 
								| Rules
								div.add-icon
							p 
								div.status-dot.green
								| Allowed
						x-cell
							h4 &nbsp;
							p CEO Office
						x-cell
							h4 &nbsp;
							p 09:00 - 17:00
							p (9:00 AM - 5:00 PM)
							p Mon, Tue, Wed, Thu, Fri
					
block script
	script.
		// set phone option as default
		$('.talk-modes input[value="phone"]').prop( "checked", true );
		$('.talk-modes').next(".phone-entry").slideDown(150);
		
		function resetForm() {
			$("#intercomId select").prop("selectedIndex", 0);
			$("#unitName select").prop("selectedIndex", 0);
			$('.talk-modes input[value="phone"]').click();
			$('.phone-entry input').val('');
			$('.modal.window .form-element').removeClass('has-value');
		}
		
		$('.comelit-items-wrapper').on('click', '.talk-modes input[type="radio"]:nth-child(odd)', function() {
			console.log($(this).parents(".talk-modes"));
			if ($(this).val() === 'phone') {
				$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
			}
			else {
				$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
			}
		});
		var comelitEntries = [{
			"gateway" : "", 
			"unit" : "",
			"phone" : ""
		}];
		
		$('body').on('click', '.close-dialogue', function(e) {
			e.preventDefault();
			resetForm();
		});
		
		$('body').on('click', '#saveLink', function(e) {
			e.preventDefault();
			var intercomId = $('#intercomId select').val();
			var unitName = $('#unitName select').val();
			var phoneStatus = $('.talk-modes input:checked').attr("data-value");
			if (phoneStatus === "Phone") {
				phoneStatus = '<i class="icon-phone"></i>' + $('.phone-entry input').val();
			}
			
			var newUnitLink = `<div class="man-wrap"><div class="friendly-name">${unitName}</div><div class="phone-status-readout">${phoneStatus}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
			console.log(unitName);
			$('.comelit-items-wrapper').append(newUnitLink);
			if ($('.man-wrap').length > 2) {
				var thisItem = $('.man-wrap').length - 1;
				setTimeout(function() {
					$('.sync-text').eq(thisItem).text('Failed');
					$('.status-dot').eq(thisItem).addClass('orange');
				}, 2000);
			}
			else {
				setTimeout(function() {
					$('.sync-text').text('Synced');
					$('.status-dot').addClass('green');
				}, 2000);
			}
			$('.close-modal').click();
		});
		
		$('body').on('click', '.talk-modes input[type="radio"]', function() {
			if ($(this).val() === 'phone') {
				$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
			}
			else {
				$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
			}
		});
		
		
			
