base()
	cf()
		&:after
			content:""
			display:block
			clear:both

	header
		// padding: 20px
		background-color: bseColor
	p
		margin: 15px 0
		line-height: 1.2
	ol
		list-style-type: decimal
	ul
		list-style-type: disc
	ol
	ul
		margin-left: 20px
		li
			margin-left: 25px
			padding: 5px 0
			line-height: 1.5
	hr
		border-bottom: 1px solid imageBgLight
	.fill
	.dark
	.darker
		ol
		ul
			color: textLightOnDark
	a
		text-decoration: none
		color: #00A0B5
		&:hover
			text-decoration: underline
	img
		max-width: 100%
		height: auto
	strong
		font-weight: 700
	em
		font-style: italic
	.blockletter
		font-family: blockletter
		color: #B6B6B6
	.wrap
		margin: 15px 0
		padding: 15px 15px
		background-color: backgroundMediumLight
		// border: 1px solid #CCC
	article.wrap
		cf()
	section.columnizer
		.wrap
			padding: 15px
	.border-wrap
		margin: 15px 0
		padding: 15px 15px
		border: 1px solid #CCC
	.light
		background-color: baseColor
	article.border-wrap
		cf()
	.clear-wrap
		margin: 25px 0
	article.clear-wrap
		cf()
	.desktop
		display: block
		+below(lg)
			display: none !important
	.mobile
		display: none !important
		+below(lg)
			display: block
	.left-justify
		text-align: left !important
	.center-justify
		text-align: center !important
	.right-justify
		text-align: right !important
	.center
		margin: 0 auto
	.left
		float: left
	.right
		float: right
	//
	// Main Wrapper
	//
	body.active
		overflow-x: hidden
	.mobile-rack-space
		padding-top: 12px
	#drawer
	#siteWrapper
		float: left
		transition: all 0.21s ease-in-out
		-webkit-transition: all 0.17s ease-in-out
	#drawer
		position: fixed
		padding: 0
		width: 0
		overflow: auto
		height: 100%
		top: 0
		bottom: 0
		background-color: #4A4A4A
		&.active
			width: 280px
	#siteWrapper
		width: 100%
		background-color: imageAccents
		&.active
			transform: translateX(280px)
	//
	// Navigation
	//
	nav
		ul
			cf()
			li
				float: left
				line-height: 1
		a
			display: block
			padding: 6px 20px
			&.home-widget
				padding: 0 20px
				line-height: 1.8
				&:hover
					text-decoration: none
				&:before
					font-family: 'wireframe-iconfont'
					speak: none
					font-style: normal
					font-weight: normal
					font-variant: normal
					text-transform: none
					line-height: 1

					/* Enable Ligatures ================ */
					-webkit-font-feature-settings: "liga"
					-moz-font-feature-settings: "liga=1"
					-moz-font-feature-settings: "liga"
					-ms-font-feature-settings: "liga" 1
					-o-font-feature-settings: "liga"
					font-feature-settings: "liga"

					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased
					-moz-osx-font-smoothing: grayscale
					content: "\e609"
					vertical-align: -13%
					font-size: 1.3em
		li
			.search-widget
				padding: 8px 0
	#open
	#contain
		.desktop-nav
			ul
				padding: 0 20px
				margin-left: 0
	.desktop-nav
		background-color: #E7E7E7
		+below(lg)
			display: none
		&.dark
			background-color: primaryColor
			a
				color: textLightOnDark
				&:hover
					color: #81F0FF
					background-color: btnHoverColor
		ul
			list-style-type: none
		li
			margin-left: 0
			padding: 0
			a
				padding: 11px 25px
				&:hover
					text-decoration: none
					background-color: #d2d2d2
			ul li
				a
					&:hover
						background-color: #d2d2d2
	nav.menu-drawer
		overflow: auto
		font-family: open-sans
		width: 280px
		background-color: #4A4A4A
		// box-shadow: 0 0 30px rgba(0,0,0,0.15)
		// transition: all 0.15s cubic-bezier(0.8, 0.03, 0.18, 1)
		// -webkit-transition: all 0.15s cubic-bezier(0.8, 0.03, 0.18, 1)
		// &.active
		// 	transform: translate3d(0, 0, 0) scale(1, 1)
		li
			display: block
			a
				color: #73E4F4
				background-color: #6E6E6E
				&:hover
					background-color: #898989
	.icon-menu
		display: none
		padding: 15px
		font-size: 1.6rem
		color: #00a0b5
		cursor: pointer
		+below(lg)
			display: inline-block
	.mobile-rack-space
		display: none
		+below(lg)
			display: block
	.menu-drawer
		padding-top: 30px
		ul
			margin-left: 0
			li
				float: none
		a.decorate:after
			font-family: 'wireframe-iconfont'
			speak: none
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			line-height: 1

			/* Enable Ligatures ================ */
			-webkit-font-feature-settings: "liga"
			-moz-font-feature-settings: "liga=1"
			-moz-font-feature-settings: "liga"
			-ms-font-feature-settings: "liga" 1
			-o-font-feature-settings: "liga"
			font-feature-settings: "liga"

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			content: "\e615"
			position: absolute
			margin-left: 3px
		a.decorate.active:after
			transform: rotate(180deg)
		.searchfield
			background-color: #A5A5A5
			.icon-search
				color: white
			input
				color: white
		div > ul
			> li
				padding-top: 0
				padding-bottom: 1px
		li
			text-align: left
			margin-left: 0
			> ul
				display: none
				padding-top: 1px
				li
					padding-top: 0
					padding-bottom: 1px
					a
						padding-left: 45px
					[class^="icon-"]
						position: absolute
						margin-top: 8px
						margin-left: 43px
						font-size: 1.1rem
						color: #ABABAB
			> ul li > ul li
				a
					padding-left: 65px
					color: #7AD5E2
					background-color: #636363
			a
				display: block
				padding-top: 10px
				padding-bottom: 10px
				background-color: imageAccents
				&:hover
					text-decoration: none
					background-color: #CCC
		li
			.search-widget
				margin: 10px 10px 10px 20px
		text-align: center
		a.logo
			display: inline-block
			position: relative
			margin: 10px 15px 20px
			color: #73E4F4
			background-color: #6e6e6e
			border: 1px solid #353535
			&:hover
				background-color: #898989
	.rack
		display: table
		> section
		> article
		> div
		> p
		> ul
		> ol
		> dl
			float: left
			margin-right: 5px
			&:last-child
				margin-right: 0
		> .checkbox-widget
			span.checkbox
				margin-top: 9px
		> .radio-widget
			span.radio
				margin-top: 9px
	form.rack
	.rack form
		> p
		> div
			float: left
			margin-right: 10px
			&:last-child
				margin-right: 0

	//
	// Buttons
	//
	.form-element + .button-module
		margin-top: 30px
	.button-module
		a.button
			display: inline-block
	a.button
		+ a.button
			margin-left: 5px
		padding: 8px 25px
		color: buttonColor
		font-size: 0.9rem
		background-color: buttonBg
		border: 1px solid #565656
		border-radius: 4px
		transition: all 0.12s ease-in-out
		-webkit-transition: all 0.12s ease-in-out
		cursor: pointer
		&:hover
			text-decoration: none
			color: buttonHoverColor
			background-color: buttonHoverBg
		&[class^="icon-"]
			vertical-align: top
	button
		margin-right: 5px
		padding: 8px 25px
		color: buttonColor
		font-size: 0.9rem
		background-color: buttonBg
		border: 1px solid #565656
		border-radius: 4px
		transition: all 0.12s ease-in-out
		-webkit-transition: all 0.12s ease-in-out
		cursor: pointer
		&:hover
			color: buttonHoverColor
			background-color: #222
		&[class^="icon-"]
			vertical-align: top
	.fill
	.dark
	.darker
		a.button
		button
		input[type="submit"]
			color: buttonColorDark
			background-color: buttonBgDark
			border: 1px solid #444
			&:hover
				color: buttonHoverColorDark
				background-color: buttonHoverBgDark
		.wrap
			background-color: #6f6f6f
			border-color: #5c5c5c
			.dimage.image-widget
				background-color: #616161
		p
			color: #B6B6B6
	//
	// Tables
	//
	table
		margin-bottom: 30px
		th
		td
			padding: 8px
		tr.mark td
			border-left: 1px solid #bababa
			border-right: 1px solid #bababa
			&:first-child
				border-left: 1px solid white
			&:last-child
				border-right: 1px solid white
		thead
			th
				color: white
				font-size: 0.85em
				background-color: #777
				border: 1px solid white
				&.active-header
					cursor: pointer
		tbody
			td
				height: 15px
				border: 1px solid white
			tr:nth-child(odd)
				background-color: #F2F2F2 /* EFEFEF */
			tr:nth-child(even)
				background-color: #DADADA /* DDDDDD */
		tfoot
		tr.mark
			background-color: #aaa !important
			// td
			// 	border: none !important
		.remove-item
			cursor: pointer
		.title
			font-size: 1.1rem
		.category-stat
			padding-right: 70px

widgets()
	//
	// Panels
	//
	.darker
		background-color: #545454
		a
			color: #98E2EB
	.whiteout
		background-color: baseColor
	.fill
		background-color: lightness(primaryColor, 51.5%)
	.dark
		background-color: primaryColor
		a
			color: #98E2EB
	.fill
	.dark
	.darker
		a.button
		button
		input[type="submit"]
			color: buttonColorDark
			background-color: buttonBgDark
			border: 1px solid #444
			&:hover
				color: buttonHoverColorDark
				background-color: buttonHoverBgDark
	#container
		.fill
		.dark
		.darker
			margin-left: -20px
			margin-right: -20px
			padding-left: 20px
			padding-right: 20px
	.fill
	.dark
	.darker
		h1
		h2
		h3
		h4
		h5
		h6
			color: textLightOnDark
		.image-widget
			background-color: lightness(secondaryColor, 34%) // #575757
		.image-border
			border: 1px solid #4a4a4a
		.dimage
		.profile
			&.image-widget
			.image-widget
				background-color: #6d6d6d
	.darker
		.image-widget
			background-color: lightness(secondaryColor, 38%) // #575757
	//
	// Search
	//
	.search-widget
		.searchfield
			position: relative
			width: 140px
			padding: 2px 5px
			text-align: left
			background-color: white
			border: 1px solid #CCC
			box-shadow: inset 0 0 5px rgba(0,0,0,0.12)
			border-radius: 100px
			.icon-search
				color: #777
			input
				position: absolute
				top: 0
				left: 24px
				width: 110px
				height: 11px
				color: #666
				font-size: 0.95rem
				background-color: transparent
				border: 0
	//
	// Forms
	//
	.checkbox-widget
		li.checkbox
			list-style: none
			margin-left: 0
		span.checkbox
			display: inline-block
			margin-bottom: 10px
		span.checkbox
		li.checkbox
			margin-right: 15px
			label
				display: inline-block
			// 	margin-left: 5px
			// &:first-child
			// 	label
			// 		margin-left: 0
			&:last-child
				margin-right: 0
		[type="checkbox"]:not(:checked)
		[type="checkbox"]:checked
			position: absolute
			left: -9999px
		[type="checkbox"]:not(:checked) + label
		[type="checkbox"]:checked + label
			position: relative
			padding-left: 25px
			cursor: pointer
		[type="checkbox"]:not(:checked) + label:before
		[type="checkbox"]:checked + label:before
			content: ''
			position: absolute
			top: 1px
			left: 0
			width: 14px
			height: 14px
			border: 1px solid #444
			background: #444
		[type="checkbox"]:not(:checked) + label:after
		[type="checkbox"]:checked + label:after
			content: ''
			position: absolute
			top: 5px
			left: 4px
			width: 8px
			height: 8px
			background-color: #84f1ff /* 84f1ff */
			transition: all .1s
			-webkit-transition: all .1s
		[type="checkbox"]:not(:checked) + label:after
			opacity: 0
			transform: scale(0)
		[type="checkbox"]:checked + label:after
			opacity: 1
			transform: scale(1)
		[type="checkbox"]:disabled:not(:checked) + label:before,
		[type="checkbox"]:disabled:checked + label:before
			box-shadow: none
			border-color: #bbb
			background-color: textLightOnDark
		[type="checkbox"]:disabled:checked + label:after
			color: #999
		[type="checkbox"]:disabled + label
			color: #aaa
		// accessibility
		[type="checkbox"]:checked:focus + label:before
		[type="checkbox"]:not(:checked):focus + label:before
			border: 1px dotted blue
	.radio-widget
		span.radio
			display: inline-block
			margin-right: 15px
			label
				display: inline-block
			// 	margin-left: 5px
			// &:first-child
			// 	label
			// 		margin-left: 0
			&:last-child
				margin-right: 0
		[type="radio"]:not(:checked)
		[type="radio"]:checked
			position: absolute
			left: -9999px
		[type="radio"]:not(:checked) + label
		[type="radio"]:checked + label
			position: relative
			padding-left: 22px
			cursor: pointer
		[type="radio"]:not(:checked) + label:before
		[type="radio"]:checked + label:before
			content: ''
			position: absolute
			top: 0px
			left:0
			width: 14px
			height: 14px
			border-radius: 100px
			border: 1px solid #444
			background: #444
		[type="radio"]:not(:checked) + label:after
		[type="radio"]:checked + label:after
			content: ''
			position: absolute
			top: 4px
			left: 4px
			width: 8px
			height: 8px
			border-radius: 100px
			background-color: #84f1ff
			transition: all .1s
			-webkit-transition: all .1s
		[type="radio"]:not(:checked) + label:after
			opacity: 0
			transform: scale(0)
		[type="radio"]:checked + label:after
			opacity: 1
			transform: scale(1)
		[type="radio"]:disabled:not(:checked) + label:before,
		[type="radio"]:disabled:checked + label:before
			box-shadow: none
			border-color: #bbb
			background-color: #84f1ff
		[type="radio"]:disabled:checked + label:after
			color: #999
		[type="radio"]:disabled + label
			color: #aaa
		// accessibility
		[type="radio"]:checked:focus + label:before
		[type="radio"]:not(:checked):focus + label:before
			border: 1px dotted blue
	.form-switch-widget
		position: relative
		display: inline-block
		.switch-item
			position: relative
			display: inline-block
			&:before
				content: ""
				position: absolute
				display: block
				top: 3px
				left: 3px
				width: 25px
				height: 18px
				background-color: #81eaf7
				z-index: 1
			&:after
				content: ""
				display: table
				clear: both
		label
			display: block
			float: left
			margin-left: 0
			margin-right: 15px
			line-height: 1.5
		ul
			margin-left: 0
		li
			list-style: none
			margin-left: 0
		span.checkbox
			display: inline-block
			margin-bottom: 10px
		span.checkbox
		li
			margin-right: 15px
			label
				display: inline-block
			// 	margin-left: 5px
			// &:first-child
			// 	label
			// 		margin-left: 0
			&:last-child
				margin-right: 0
		[type="checkbox"]:not(:checked)
		[type="checkbox"]:checked
			position: absolute
			left: -9999px
		[type="checkbox"]:not(:checked) + label
		[type="checkbox"]:checked + label
			position: relative
			padding-left: 70px
			cursor: pointer
		[type="checkbox"]:not(:checked) + label:before
		[type="checkbox"]:checked + label:before
			content: ''
			position: absolute
			left: 0
			width: 60px
			height: 22px
			border: 1px solid #444
			background: #444
		[type="checkbox"]:not(:checked) + label:after
		[type="checkbox"]:checked + label:after
			content: ''
			position: absolute
			top: 2px
			left: 2px
			width: 29px
			height: 20px
			background-color: #ccc
			transition: all .05s linear
			-webkit-transition: all .05s linear
			z-index: 2
		[type="checkbox"]:not(:checked) + label:after
			transform: translateX(0px)
		[type="checkbox"]:checked + label:after
			opacity: 1
			transform: translateX(29px)
		[type="checkbox"]:disabled:not(:checked) + label:before,
		[type="checkbox"]:disabled:checked + label:before
			box-shadow: none
			border-color: #bbb
			background-color: textLightOnDark
		[type="checkbox"]:disabled:checked + label:after
			color: #999
		[type="checkbox"]:disabled + label
			color: #aaa
		// accessibility
		[type="checkbox"]:checked:focus + label:before
		[type="checkbox"]:not(:checked):focus + label:before
			border: 1px dotted blue

	.switch-widget
		ul
			margin: 10px 0
		li
			list-style: none
			cf()
			margin-left: 0
		label
			display: block
			float: left
			margin-top: 4px
			margin-left: 10px
			margin-right: 15px
		.switch-object
			float: left
			width: 58px
			height: 20px
			font-size: 0.75rem
			background-color: #444
			border: 2px solid #444
			cursor: pointer
			.switch
				position: absolute
				height: 20px
				width: 29px
				background-color: #CCC
				transition: all 0.03s linear
				-webkit-transition: all 0.05s linear
				z-index: 2
			.on
				position: absolute
				margin-top: 1px
				margin-left: 1px
				width: 25px
				height: 18px
				background-color: #81EAF7 // 81EAF7, 7FE8F6
			.on-icon
				display: block
				position: absolute
				margin-top: 1px
				margin-left: 6px
				color: #81EAF7
				font-size: 1rem
			.on-text
				position: relative
				float: left
				padding-top: 5px
				padding-bottom: 3px
				width: 29px
				color: #84F1FF
				text-align: center
				background-color: transparent
			.off-text
				position: relative
				margin-top: 5px
				float: right
				text-align: right
				width: 29px
				color: textLightOnDark
				text-align: center
			&.on
				.switch
					transform: translateX(29px)
	//
	// Modals
	//
	.modal.window
		display: none
		max-height: 77%
		overflow: auto
	.close-modal-icon
		position: absolute
		top: 7px
		right: 7px
		color: #00a0b5
		font-size: 1.4rem
		cursor: pointer
	.modal.trigger
		cursor: pointer
	//
	// Media
	//
	.chart.image-widget
		position: relative
		width: 100%
		height: 100%
		background: imageBgLight url(../images/pie-chart.svg) no-repeat
		background-size: contain
		background-position: center
	.image-widget
		position: relative
		width: 100%
		height: 100%
		background: imageBgLight url(../images/demo-image4.svg) no-repeat
		background-size: contain
		background-position: center
	.image-border
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border: 1px solid #CCC
	.dimage
		&.image-widget
		.image-widget
			background: imageBgLight url(../images/demo-image-frame-inkscape3.svg) no-repeat
	.profile
		&.image-widget
		.image-widget
			background: imageBgLight url(../images/profile-silhouette.svg) no-repeat
	.dimage
	.profile
		&.image-widget
		.image-widget
			background-size: contain
			background-position: center
	.porthole
		overflow: hidden
		padding: 3px
		background-color: imageBgLight
		border-radius: 1000px
		.image-widget
			border-radius: 1000px
	.wrap
		.dimage
		.image-widget
		.porthole
			background-color: imageBgMedium // cecece, d2d2d2
	.fill
	.dark
	.darker
		.porthole
			background-color: lightness(secondaryColor, 33.5%) // #555
	.slideshow-widget
		position: relative
		width: 100%
		height: 100%
		.icon-arrow-left
		.icon-arrow-right
			position: absolute
			top: 50%
			margin-top: -45px
			height: 90px
			font-size: 5.5rem
			color: imageAccents
		.icon-arrow-right
			right: 0
		.icon-progress
			position: absolute
			font-size: 1.27rem
			color: white
			bottom: 10px
			right: 20px
	.video-widget
		position: relative
		width: 100%
		height: 100%
		background: #DFDFDF url(../images/play-icon.svg) no-repeat
		background-size: contain
		background-position: center
		cursor: pointer
		&:hover
			background: #DFDFDF url(../images/play-icon-glow.svg) no-repeat
			background-size: contain
			background-position: center
		.image-border
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			border: 3px solid #CCC
	nav.dark
		.logo
			border: 1px solid #000
			background-color: logoColor
	#drawer
		.logo-wrapper
			display: block
			text-align: center

	.logo
		display: inline-block
		margin-right: 10px
		padding: 8px 28px 9px 52px !important
		font-size: 1.2rem
		font-family: play
		color: #00a0b5
		background: #E7E7E7 url(../images/generic-logo-final2B.svg) no-repeat
		background-size: contain
		background-position: 15px
		border: 1px solid #ccc
		&.dark
			color: imageBgLight
			border: 1px solid #000
			background-color: logoColor
			&:hover
				color: #81f0ff
				background-color: btnHoverColor
	.simple-logo.logo
		width: 66px
		height: 19px
		padding: 8px 0px 9px 0 !important
	.mobile-rack-space
		.logo
			padding: 6px 23px 5px 45px !important
		.simple-logo.logo
			width: 56px
			height: 10px
			padding: 8px 0px 9px 0 !important
	.desktop-nav .logo
		float: left
	.logo a:hover
	a.logo:hover
	.logo a:hover
	a.logo:hover
		text-decoration: none
		background-color: #d2d2d2
	.logo.dark a:hover
	a.logo.dark:hover
	.desktop-nav.dark .logo a:hover
	.desktop-nav.dark a.logo:hover
		text-decoration: none
		background-color: secondaryColor
	//
	// Tabs
	//
	tabSize = 130px
	div.tabs-widget
		hr
			position: absolute
			width: tabSize
			height: 5px
			background-color: #00A0B5
			margin: 0 0 0 0
			border-radius: 10px
			bottom: -3px
			z-index: 2
			transition: all 0.17s cubic-bezier(.25,.01,0,1) // (.25,.01,0,1), (.27,0,0,.98)
		ul.tabs
			position: relative
			li.active
				&:nth-child(2) ~ hr
					margin-left: (tabSize)
				&:nth-child(3) ~ hr
					margin-left: (tabSize * 2)
				&:nth-child(4) ~ hr
					margin-left: (tabSize * 3)
				&:nth-child(5) ~ hr
					margin-left: (tabSize * 4)
		ul.tabs
			&:after
				content:""
				display:block
				clear:both
			li
				list-style: none
				float: left
				margin-top: 15px
				margin-left: 0
				padding: 10px 0
				width: tabSize
				color: #5d5d5d
				text-align: center
				// background-color: imageAccents
				&.active
					color: #000
					// background-color: white
				&:last-child
					margin-right: 0
				cursor: pointer
		div.tabs-widget
			ul.tabs
				li
					padding-right: 30px
					font-size: 0.85em
		[data-tab]
			display: none;
		[data-tab].active
			display: block
		section.tabs-wrapper
			position: relative
			margin-bottom: 10px
			padding: 10px 15px
			border: 1px solid #CCC
	.wrap
		div.tabs-widget
			section.tabs-wrapper
				border-color: #ccc
		div.tabs-widget
			ul.tabs
				li
					background-color: white
					&.active
						background-color: transparent
	.fill
	.dark
	.darker
		div.tabs-widget
			section.tabs-wrapper
				border-color: #B3B3B3
		div.tabs-widget
			ul.tabs
				li
					// color: #87F1FF // AAF5FF 88F1FF 87F1FF
					color: #cccccc
					// background-color: #868686 /* tabColor, 8a8a8a, 868686,  */
					&.active
						// color: #58ECFF
						color: #e4e4e4
						background-color: transparent
				hr
					background-color: #79e8f7
	//
	// Ratings
	//
	.stars-widget
		.icon-star
			font-size: 1.3em
			color: #7E7E7E
			&.unmarked
				color: textLightOnDark
	.wrap
		.icon-star
			color: #6b6b6b
			&.unmarked
				color: #c5c5c5
	.fill
	.dark
		.icon-star
			color: textLightOnDark
			&.unmarked
				color: #808080
				background-color: transparent

	//
	// Edit Emulation Classes
	//
	.edit
		display: none
	.edit.active
		display: block
	//
	// Pagination
	//
	.pagination
		cf()
		ul
			margin-left: 0
		li
			list-style: none
			float: left
			margin: 0
			padding: 0
			border-top: 1px solid #CCC
			border-bottom: 1px solid #CCC
			border-left: 1px solid #CCC
			a
				padding: 8px 10px
				color: #00A0B5
				background-color: imageAccents
				transition: background-color 0.11s ease-in-out
				&:hover
					text-decoration: none
					cursor:pointer
					background-color: textLightOnDark
			&:last-child
				border-right: 1px solid #CCC
			&.arrows
				a
					display: inline-block
					line-height: 1
					vertical-align: middle
					padding: 6px 4px
					span
						font-size: 1.2rem
	.full
		display: block
		width: 100%
	.reduce
		font-size: 0.88em
		button
		input[type="submit"]
			padding: 4px 18px
	button.reduce
	input[type="submit"].reduce
		padding: 3px 18px
	hr
		margin: 20px 0
		border: 0
		height: 1px
		background-color: imageBgLight
	.wrap
		hr
			background-color: #bfbfbf
	.highlight
		display: inline-block
		background-color: imageAccents
		padding: 3px 5px
demo()
	.demo-heading
		margin-bottom: 60px
	h3.demo-heading
		padding-bottom: 10px
		border-bottom: 1px solid #ddd
	.ft-hd // feature heading
		margin-top: 40px
		font-size: 1.2rem
		color: #00A0B5
		font-family: verdana, arial, sans-serif
		speak: none
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		line-height: 1

		/* Enable Ligatures ================ */
		-webkit-font-feature-settings: "liga"
		-moz-font-feature-settings: "liga=1"
		-moz-font-feature-settings: "liga"
		-ms-font-feature-settings: "liga" 1
		-o-font-feature-settings: "liga"
		font-feature-settings: "liga"

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		&:before
			content: "\e60d"
			font-size: 1.2rem
			vertical-align: -1px
			color: #ccc
			font-family: 'wireframe-iconfont'
			transition: all 0.21s ease-in-out
			-webkit-transition: all 0.21s ease-in-out
		&:hover
			&:before
				color: #00A0B5
				margin-left: -5px
				margin-right: 5px
	.extend
		display: block
		width: calc(100% - 50px)
		text-align: center
	.demo
		position: relative
		margin: 30px 0
		.demo-height
			margin-bottom: 50px
		.web-wrap
			position: absolute
			display: inline-block
			padding: 10px
			transform: scale(0.67)
			transform-origin: 0 0
			border: 1px solid #ccc
			box-shadow: 0 0 45px rgba(0,0,0,0.13)
			border-radius: 4px
			&.checkered
				background: url(../images/checker-bg.svg)
			&.light
				background: #fff
			&.dark
				background: #838383
			section
			article
			div
				max-width: 977px !important
			.extend
				width: 250px
responsive()
	.trigger-icon
		color: #b6b6b6
		font-size: 2rem
mobile()
	.iphone-wrap
		transform-origin: 50% 0;
		transform: scale(0.8) translateY(39px)
		position: relative
		display: flex
		flex-direction: column
		flex: 3
		margin: 0 auto
		border: 10px solid #aaa
		border-radius: 10px
		width: 320px
		height: 568px
		.ios-wrapper
			flex: 1
			padding: 15px 15px 0px
			overflow-y: auto
		footer
			height: 60px
	.iphone-5
		width: 320px
		height: 568px
	.iphone-6
		width: 375px
		height: 667px
	.iphone-6-plus
		width: 414px
		height: 736px
	.iphone-header
		position: fixed
		left: 0
		right: 0
		padding: 0 8px
		height: 24px
		line-height: 2.2
		font-size: 0.7rem
		color: white
		opacity: 0.5
		.rack
			position: relative
			> div
				margin-right: 3px
		.icon-battery-indicator
			font-size: 0.6rem
			display: inline-block
		i.disc
		i.circle
			display: inline-block
			vertical-align: 1px
			margin-right: 2px
			border-radius: 100px
		i.disc
			width: 5px
			height: 5px
			background-color: white

		i.circle
			width: 3px
			height: 3px
			border: 1px solid white
		div.transmit-elem
			position: absolute
			right: -19px
	.ios-tray
		.tray-icons
			padding: 10px 15px 5px
			color: white
			font-size: 0.7rem
			[class*="icon-"]
				font-size: 2rem
	.ios-default
		background-color: rgba(0,0,0,0.5)

	//
	// Ping Elements
	//
	.wire-ping
		animation-name: wireframe-ping
		animation-duration: 2s
		animation-timing-function: ease-in-out

	@keyframes wireframe-ping
		0%
			box-shadow: 0 0 2px rgba(208,73,129,0), 0 0 15px rgba(208,73,129,0)
		34%
			box-shadow: 0 0 2px rgba(208,73,129,0.7), 0 0 50px rgba(208,73,129,0.55)
		38%
			box-shadow: 0 0 2px rgba(208,73,129,0.7), 0 0 50px rgba(208,73,129,0.55)
		100%
			box-shadow: 0 0 2px rgba(208,73,129,0), 0 0 15px rgba(208,73,129,0)
